[submodule "experiment"]
	path = experiment
	url = git@gitlab.com:pedmiston/totems-experiment.git
[submodule "data"]
	path = data
	url = git@github.com:pedmiston/totems-data.git
[submodule "graphdb"]
	path = graphdb
	url = git@github.com:pedmiston/totems-graphdb.git
[submodule "bots"]
	path = bots
	url = git@github.com:pedmiston/totems-bots.git
[submodule "db"]
	path = db
	url = git@github.com:pedmiston/totems-db.git
[submodule "docs/iterated-problem-solving"]
	path = docs/iterated-problem-solving
	url = git@github.com:pedmiston/iterated-problem-solving.git
[submodule "docs/team-structures"]
	path = docs/team-structures
	url = git@github.com:pedmiston/team-structures.git
[submodule "docs/fixing-fixation"]
	path = docs/fixing-fixation
	url = git@github.com:pedmiston/fixing-fixation
