# reproducible
figs/
*.html
*.pdf
*.docx
cassettes/

# python
__pycache__/

# tests
.cache/

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# editor
*.swp

# os
.DS_Store

# submissions
!submissions/**/*
