# reproducible
figs/
*.html
*.pdf
!docs/**/*.pdf
docs/irb/methods/*.pdf
*.docx

# py package
*egg-info/

*.png
!img/*.png

*.gv
!evoteams/**/*.gv
evoteams/**/landscape*.gv
cassettes/

# reproducible data
evoteams/data-raw/bots/
evoteams/data-raw/totems/

# data that's too big to track
db/dumps/

# data that's too big to track
db/dumps/

# python
__pycache__/

# tests
.cache/

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# editor
*.swp

# os
.DS_Store

# submissions
!submissions/**/*

# totems
environment
.vagrant/
