[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
ipython = "*"
pandas = "*"
"py2neo" = "==3.1.2"
pytest = "==3.0.2"
graphviz = "*"
Unipath = "==1.1"
PyYAML = "*"
PyMySQL = "*"
SQLAlchemy = "*"
"Jinja2" = "*"
ansible = "*"
black = "*"
ansible-vault = "*"
graphdb = {editable = true, path = "."}
gspread = "*"
"oauth2client" = "*"
pypandoc = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
