p.caption {
  text-align: left;
  font-size: 90%;
  margin-left: 1em;
}

div.figure {
  padding: 1em;
  margin: 1em 3em 1em 3em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #d3d3d3;
  border-radius: 5px;
}
